<div class="my-4 bg-white rounded p-4">
  <h2 class="text-2xl mt-2 mb-4 text-center">About Phacepook</h2>
  <p class="mb-2"><i>Phacepook</i> is a social network website made as an exercise in web development. You can use it as a learning tool and see how it works by reading its source code, available <a href="https://github.com/themetar/odin-facebook" target="_blank">here</a>.</p>
  <h3 class="mt-2 mb-3 text-xl">Stack</h3>
  <p class="mb-2">It runs on the following stack:</p>
  <ul class="mb-2">
    <li>PostgreSQL</li>
    <li>Ruby</li>
    <li>Rails</li>
  </ul>
  <p class="mb-2">It's currently hosted on <a href="https://www.heroku.com/" target="blank">Heroku</a>.</p>
  <h3 class="mt-2 mb-3 text-xl">Author</h3>
  <p class="mb-2"><i>Phacepook</i> is developed by <a href="https://github.com/themetar" target="_blank">Dimitar Apostolovski</a>.</p>
</div>