<div class="comment">
    <%= link_to comment.author.name, user_path(comment.author) %>
    <%= time_tag(comment.created_at) %>
    <% if comment.author == current_user %>
        <%= link_to "delete", comment_path(comment),
                                method: :delete,
                                data: { confirm: "You sure?" } %>
    <% end %>
    <p><%= comment.text%></p>
</div>