<li class="flex justify-between mb-2">
  <%= link_to user.name, user_path(user), class: "text-blue-700 hover:text-blue-800" %>
  <% case type %>
  <% when :send %>
    <%= render 'shared/send_request_button', user: user %>
  <% when :accept %>
    <%= render 'shared/accept_request_button', request: request %>
  <% when :revoke %>
    <%= render 'shared/revoke_request_button', request: request %>
  <% end %>
</li>
