<h1>FriendRequests#index</h1>
<% unless @friend_offers.empty? %>
  <ul>
    <% @friend_offers.each do |offer| %>
    <%= render 'shared/user_list_item', user: offer.requester,
                                        request: offer,
                                        type: :accept %>
    <% end %>
  </ul>
<% end %>
<%= content_tag('hr') unless @friend_offers.empty? || @friend_requests.empty? %>
<% unless @friend_requests.empty? %>
  <ul>
    <% @friend_requests.each do |request| %>
    <%= render 'shared/user_list_item', user: request.requestee,
                                        request: request,
                                        type: :revoke %>
    <% end %>
  </ul>
<% end %>
