<footer class="absolute inset-x-0 bottom-0 mx-2 py-1 border-t text-sm text-gray-700">
  <span class="px-4 text-blue-700 font-bold">Phacepook</span>
  <nav class="inline">
    <ul class="inline-flex">
      <li class="px-2 border-r"><%= link_to "About", about_path, class: "hover:text-gray-600" %></li>
      <%# <li class="px-2">Privacy Policy</li> %>
    </ul>
  </nav>
</footer>